<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contaminación del Agua
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <img class="imagen" src="../assets/contaminacion_agua.jpg" >
        <br>
  </ion-item> 
    <ion-button [routerLink]="['/nuevaagua']" class="nuevo">Nuevo Registro</ion-button>

    <ion-list *ngFor="let agua of aguas">
    <ion-item-sliding >
    <ion-item>
      <ion-label>{{agua.detalle}}</ion-label>
    </ion-item>
    <ion-button [routerLink]="['/nuevaagua/' + agua.contaminacionDelAguaId]" class="editar">Editar</ion-button>
    </ion-item-sliding>
    </ion-list>

</ion-content>
