<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Grupos Priorizados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <img class="imagen" src="../assets/grupos_priorizados.jpg" >
        <br>
  </ion-item> 
    <ion-button [routerLink]="['/nuevogrupo']" class="nuevo">Nuevo Registro</ion-button>

    <ion-list *ngFor="let grupo of grupos">
      <ion-item-sliding >
        <ion-item>
          <ion-label>{{grupo.detalle}}</ion-label>
        </ion-item>
        <ion-button [routerLink]="['/nuevogrupo/' + grupo.grupoPriorizadoId]" class="editar">Editar</ion-button>
      </ion-item-sliding>
    </ion-list>

</ion-content>
