<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button defaultHref="/"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sub Secciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button [routerLink]="['/nuevasubseccion']" class="nuevo">Nuevo Registro</ion-button>

<ion-list *ngFor="let subseccion of subsecciones">
  <ion-item-sliding >
    <ion-item>
      <ion-label>{{subseccion.nSubseccion}}</ion-label>
    </ion-item>
      <ion-button  class="btn btn-danger" (click)="eliminar(subseccion.subSeccionId)">Eliminar</ion-button >

  </ion-item-sliding>

</ion-list>

</ion-content>
