<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contaminación del Suelo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button [routerLink]="['/nuevosuelo']" >Nuevo Registro</ion-button>

    <ion-list *ngFor="let suelo of suelos">
    <ion-item-sliding >
    <ion-item>
      <ion-label>{{suelo.detalle}}</ion-label>
    </ion-item>
    <ion-button [routerLink]="['/nuevosuelo/' + suelo.contaminacionDelSueloId]" >Editar</ion-button>
    </ion-item-sliding>
    </ion-list>
    
</ion-content>
