.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.boton{
    margin:10px;
    font-weight: bold;
}
.aplicacion{
  text-align: center;
}
.usuario{
  font-weight: bold;
}
.password{
  font-weight: bold;
}


