<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/uniandes.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Aplicacion Uniandes</ion-card-title>
      </ion-card-header>

    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Ingresar</ion-label>
      </ion-list-header>
      <ion-input placeholder="   Usuario"></ion-input>
      <ion-input placeholder="   Pasword"></ion-input>
      <ion-button> Ingresar</ion-button>
    </ion-list>
</ion-content>
