<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding> 
    <ion-card class="welcome-card">
      <ion-img src="/assets/uniandes.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title class="aplicacion">Aplicacion Uniandes</ion-card-title>
      </ion-card-header>
    </ion-card>
      <ion-item>
        <ion-label class="usuario" position="floating">Usuario<ion-text color="danger"> *</ion-text></ion-label>
        <ion-input type="text" ></ion-input>
      </ion-item>
      <ion-item>
          <ion-label class="password" position="floating">Password<ion-text color="danger"> *</ion-text></ion-label>
          <ion-input type="text" ></ion-input>
        </ion-item>
        <br>
      <ion-button class="boton" expand="block"> Ingresar</ion-button>
</ion-content>
