<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button defaultHref="/"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Secciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button [routerLink]="['/nuevaseccion']" class="nuevo">Nuevo Registro</ion-button>

<ion-list *ngFor="let seccion of secciones">
  <ion-item-sliding >
    <ion-item>
      <ion-label>{{seccion.nSeccion}}</ion-label>
    </ion-item>
      <ion-button  [routerLink]="['/nuevaseccion/' + seccion.seccionId]" class="editar">Editar</ion-button>

  </ion-item-sliding>

</ion-list>

</ion-content>
