<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contaminación del Aire
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button [routerLink]="['/nuevoaire']" >Nuevo Registro</ion-button>

    <ion-list *ngFor="let aire of aires">
      <ion-item-sliding >
        <ion-item>
          <ion-label>{{aire.detalle}}</ion-label>
        </ion-item>
        <ion-button [routerLink]="['/nuevoaire/' + aire.contaminacionDelAireId]" >Editar</ion-button>
      </ion-item-sliding>
    </ion-list>

</ion-content>
