<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Antecedentes Familiares
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button >Nuevo Registro</ion-button>

    <ion-list *ngFor="let detalleantfam of detalle-respuesta-ant-familiares">
    <ion-item-sliding >
    <ion-item>
      <ion-label>{{detalleantfam.detalle}}</ion-label>
    </ion-item>
    </ion-item-sliding>
    </ion-list>
</ion-content>
