<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nacionalidades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-button [routerLink]="['/nuevanacionalidad']" >Nuevo Registro</ion-button>

<ion-list *ngFor="let nacion of nacionalidades">
  <ion-item-sliding >
    <ion-item>
      <ion-label>{{nacion.detalle}}</ion-label>
    </ion-item>
      <ion-button  [routerLink]="['/nuevanacionalidad/' + nacion.nacionalidadId]" >Editar</ion-button>

  </ion-item-sliding>

</ion-list>

</ion-content>
