<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button defaultHref="/"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nacionalidades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <img class="imagen" src="../assets/nacionalidades.jpg" >
        <br>
  </ion-item> 
  
<ion-button [routerLink]="['/nuevanacionalidad']" class="nuevo">Nuevo Registro</ion-button>

<ion-list *ngFor="let nacion of nacionalidades">
  <ion-item-sliding >
    <ion-item>
      <ion-label>{{nacion.detalle}}</ion-label>
    </ion-item>
      <ion-button  [routerLink]="['/nuevanacionalidad/' + nacion.nacionalidadId]" class="editar">Editar</ion-button>

  </ion-item-sliding>

</ion-list>

</ion-content>
