<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Fichas
    </ion-title>
  </ion-toolbar>
  
</ion-header>


<ion-content>
  <br>
  <ion-item>
        <img class="imagen" src="../assets/Bandera_Tungurahua.jpg" >
        <br>
  </ion-item>    
    <ion-list>
        <ion-item>
            <ion-label>Parroquias</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="quero">Quero</ion-select-option>
              <ion-select-option value="cevallos">Cevallos</ion-select-option>
              <ion-select-option value="mocha">Mocha</ion-select-option>
              <ion-select-option value="tisaleo">Tisaleo</ion-select-option>
            </ion-select>
        </ion-item>   
      </ion-list>
      <ion-item>
          <ion-label position="floating">Barrio</ion-label>
          <ion-input type="text" ></ion-input>
        </ion-item>
      <ion-item>
          <ion-label position="floating">Dirección</ion-label>
          <ion-input type="text" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Referencia</ion-label>
            <ion-input type="text" ></ion-input>
          </ion-item>
        <br>
        <ion-button class="boton" shape="round" expand="block">Guardar</ion-button>
</ion-content>
