<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Preguntas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-input placeholder="   Pregunta"></ion-input>

    <ion-item>
        <ion-label>Subsecion</ion-label>
        <ion-select placeholder="Seleccione Sexo">
          <ion-select-option value="sb1">Subccecion 1</ion-select-option>
          <ion-select-option value="sb2">Subccecion 2</ion-select-option>
        </ion-select>
        
      </ion-item>
      <ion-button>Guardar</ion-button>

      <hr/>
      
</ion-content>
